.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    height: 1912px; 
}

            .top-box {
                display: flex;
                flex-direction: column;
                background: #1F2937; 
                justify-content: space-between;
                height: 50px;
                flex: 2; 
                font: 24px;
                color: #F9FAF8;
                font-family: font-family: 'Roboto', sans-serif;
            }

            .sidebarleft, .sidebarright {
                display: flex; 
                flex: 1;
            }

.container2 {
    width: 650px;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    flex: 1 1; 
}

.logo {
    display: flex; 
    height: 50px; 
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    flex: 1; 
    gap: 20px;
    height: 50px;
   
}

.second-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #1F2937;
    flex: 1; 
}

